navbar_container{
    height: 25em;
}
.navbar_title {
    background-color: #5C16C5;
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 500%;
    position: center;
    width: 42em;
    height: 11.7em; 
    top: 15.8em;
    font-weight: bold;
    padding: 0.5em;

}
.navbar_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D0C5E;
    color: #FFFFFF;
    padding: 1em;
    position: absolute;
    width: 84em;
    height: 20em;
    top: 3.3em;
}
.text1{
    font-size: 2.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: -0.005em;
    width: 50%;
}

.navbar_title button{
    width: 5em;
    height: 1.8em;
    border-radius: 25%;
}
